[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	padding-top: 20px;
}

.time {
	padding-top: 5px;
	font-size: small;
}

.order-body {
	width: 100%;
}